.container {
  padding-bottom: 4rem;
}

.bannerContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.postContainer {
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    color: var(--heading);
  }

  h2 {
    font-size: 2.25rem;
    color: var(--heading);
    margin-bottom: 3.75rem;

    &:not(:first-child) {
      margin-top: 4rem;
    }
  }
}

.extraInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-size: 0.875rem;
  color: var(--text-info);

  div {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    & + div {
      margin-left: 1.5rem;
    }
  }

  i {
    flex-basis: 100%;
    margin-top: 1rem;
  }
}

.postContent {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
  margin-bottom: 3.75rem;

  * {
    margin-top: 2rem;
  }

  a {
    color: var(--highlight);
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  & > *:first-child {
    margin-top: 0;
  }
}

.divider {
  height: 1px;
  background: var(--text-body);
  opacity: 0.1;
  margin-bottom: 3rem;
}

.otherPosts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  p {
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
  }
  
  strong {
    font-size: 1rem;
    color: var(--highlight);
  }

  a {
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
  
  .postBefore {
    text-align: left;
  }

  .postAfter {
    text-align: right;
    margin-left: auto;
  }
}